{% extends "ndf/base.html" %}
{% block body_content %}
<h1>You are at the search page</h1>

{{groupid}}

<script type = "text/javascript" src = "/static/ndf/js/jquery-2.1.1.js"></script>

<form action = "{% url 'process_search' groupid %}" name = "search_form" method = "GET">
	{% csrf_token %}
	
	Enter the value to be searched <input type = "text" name = "text_to_be_searched" id = "text_to_be_searched">
	
	<h3>Search By</h3>
	<input type = "checkbox" name = "opt[]" value = "name" />Name
	<input type = "checkbox" name = "opt[]" value = "tags"/>Tags
	<input type = "checkbox" name = "opt[]" value = "content"/>Content	
	<input type = "submit" name = "subButton" id = "subButton" value = "Submit"/>
</form>

<a href = "{% url 'perform_map_reduce' groupid %}">Perform Map Reduce</a>


{% endblock %}

